<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd">
  <description><![CDATA["jpgeoref aps core tag library"]]></description>
  <display-name>"jpgeoref aps core tag library"</display-name>
  <tlib-version>2.2</tlib-version>
  <short-name>gpwp</short-name>
  <uri>/jpgeoref-aps-core</uri>
	
	<tag>
		<description><![CDATA[TODO.]]></description>
		<name>bodyReader</name>
		<tag-class>com.agiletec.plugins.jpgeoref.aps.tags.HtmlBodyTagReader</tag-class>
		<body-content>JSP</body-content>
		<attribute>
			<description>Nome del parametro con cui inserire il body nel contesto della richiesta.</description>
			<name>var</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
	<tag>
		<description><![CDATA[TODO.]]></description>
		<name>reqCtxParamPrinter</name>
		<tag-class>com.agiletec.plugins.jpgeoref.aps.tags.ReqCtxParamPrinterTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<description>Nome del parametro con cui estrarre il parametro dal contesto della richiesta.</description>
			<name>var</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
	<tag>
		<description><![CDATA[TODO.]]></description>
		<name>geoRenderList</name>
		<tag-class>com.agiletec.plugins.jpgeoref.aps.tags.GeoRenderListTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<description><![CDATA[TODO.]]></description>
			<name>master</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description><![CDATA[TODO.]]></description>
			<name>centerCoordsParamName</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description><![CDATA[TODO.]]></description>
			<name>southWestCoordsParamName</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description><![CDATA[TODO.]]></description>
			<name>northEastCoordsParamName</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<description><![CDATA[TODO.]]></description>
			<name>markerParamName</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
	<tag>
		<description><![CDATA[TODO.]]></description>
		<name>geoRoute</name>
		<tag-class>com.agiletec.plugins.jpgeoref.aps.tags.GeoRouteListTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<description>
				Nome con cui la lista di id viene settata nel contesto di pagina.
			</description>
			<name>listName</name>
			<required>yes</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
</taglib>
